/* CSS Document */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
a {
	text-decoration: none;
	cursor: pointer;
	color:#333;
}
a:visited, a:hover {
	text-decoration: none;
	color: #565656;
}
ul {
	list-style: none;
}
ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0;
	padding: 0;
}
ol > li {
	display: table;
	counter-increment: item;
	margin-bottom: 0.6em;
}
ol > li:before {
	content: counters(item, ".") ". ";
	display: inline-block;
	padding-right: 0.6em;
}
li ol {
	padding-left: 20px;
}
li ol > li {
	margin: 0;
}
li ol > li:before {
	content: counters(item, ".") " ";
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	line-height: 1.2em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	width: 100%;
	font-family: Light;
}
/* Fonts */
@font-face {
	font-family: Bold;
	src: url('/assets/fonts/TourDeForce-GalebBold.otf') format('opentype');
}
@font-face {
	font-family: Black;
	src: url('/assets/fonts/TourDeForce-GalebBlack.otf') format('opentype');
}
@font-face {
	font-family: Light;
	src: url('/assets/fonts/TourDeForce-GalebLight.otf') format('opentype');
}
@font-face {
	font-family: Regular;
	src: url('/assets/fonts/TourDeForce-GalebRegular.otf') format('opentype');
}
.bold{
	font-family: "Bold";
}
.black{
	font-family: "Black";
}
.light{
	font-family: "Light";
}
/* Layout */
body {
	width: 100%;
	font-family: "Regular";
	color: #fff;
	background-color: #f1f1f1;
	font-size: 18px;
	letter-spacing: 1px;
	min-height: 100vh;
}
/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 2.4em;
}
.h3, h3 {
    font-size: 33px;
}
.h4, h4 {
    font-size: 23px;
}
/* Font colors */
.white{
	color: #FFFFFF;
}
a.white:visited, a.white:hover{
	color: #FFFFFF;
}
.purple, .purple:visited, .purple:hover{
	color: #8045C2;
}
.dark-purple{
	color: #541E9D;
}
.mint{
	color: #2FC6CB;
}
.dark {
	color:#333;
}
.dark-grey {
	color:#808080;
}
.light-grey {
	color:#b8b8b8;
}
/* Background colors */
.light-grey-bg{
	background-color: #EBEBEB;	
}
.mint-bg{
	background-color: #2FC6CB;
}
.purple-bg{
	background-color: #8045C2;
}
/* Buttons */
.btn{
	border-radius:0;	
}
.purple-btn{
	background-color: #8045C2;
}
.mint-btn{
	background-color: #2FC6CB;
}

/* Form */
input[type=tel], input[type=text], input[type=email], input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="select"], textarea, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, .form-control {
    color: #333;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: none;
	-webkit-appearance:none;
	-moz-appearance:textfield;
	padding-top: 10px;
}
.transparent-control{
    background-color: transparent!important;
    color: #541E9D!important;
	font-size: 32px;
    border-left: 1px solid #fff!important;
	height:48px;
}
.transparent-control:focus{
    border: 1px solid transparent;
	border-bottom:1px solid #541E9D;
    box-shadow: none;
}
.transparent-control::-webkit-input-placeholder {
	line-height:normal;
   color: #541E9D;
}
.transparent-control:-moz-placeholder { /* Firefox 18- */
	line-height:normal;
   color: #541E9D;  
}
.transparent-control::-moz-placeholder {  /* Firefox 19+ */
	line-height:normal;
   color: #541E9D;  
}
.transparent-control:-ms-input-placeholder {  
	line-height:normal;
   color: #541E9D;  
}
.select-control{
	background-image:url(../images/icons/arrow_down.png);
	background-repeat:no-repeat;
	background-position: 95% 50%;
	background-size: 11px;	
}
.select-control-purple{
	background-image:url(../images/icons/arrow_down_white.png);
	background-color: #541E9D;
	color: #fff;
	height:38px;
}

/* Header */
.navbar-brand {
    padding: 15px;
	color: #fff;
}
.navbar-brand span{
	font-size: 40px;
    font-family: Bold;
    padding-top: 20px;
	padding-left: 10px;
    float: left;
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.navbar-brand img{
	max-height:50px;
}
.navbar-nav li a {
	color: #fff;
    padding:30px 25px;
}
.navbar-toggle{
	background-image:url(../images/icons/menu-bg.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100%;
}
.navbar-right {
    margin-right: 0px;
}
.navbar-brand .logo img, ul.navbar-nav{
	opacity: 0;	
}

/* Footer */
footer {
	padding: 7px 0;
}
footer ul li{
	float: right;
	display:inline-block;
	font-size: 11px;
	line-height:40px;	
	padding:6px 10px ;
}
.social li{
	float: left;
	line-height:0;
	padding-top:7px;	
}
.social li:nth-last-child(1){
	line-height:40px;
}
.social li a img{
	width: 34px;	
}
/* Popups */
.box-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.pop-up {
	position: fixed;
	padding: 4em;
	left: calc(50vw - 300px);
	width: 50vw;
	min-width: 300px;
	max-width: 600px;
	z-index: 99999;
	top: 10vh;
	overflow: auto;
	background-image:url(../images/backgrounds/side_bg.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.lg-pop-up {
	width: 80vw;
	left: calc(80vw - 1000px);
	max-width: 1000px;
	max-height: 80vh;
	overflow: auto;
}
.close {
	opacity: 1;
	text-shadow: none;
	top: 0px;
	right: 0px;
	position: absolute;
	padding: 0.3em;
	color: #666;
	z-index: 9;
	background-image: url(../images/icons/close.png);
	background-position: 1px 0;
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 50px;
    min-height: 50px;
}
.close:hover {
	opacity: 1;
}
.help-block{
	font-size: 10px;
	line-height:20px;	
}
.help-block img{
	float: left;
	margin-right:3px;	
}
/* Index */
.fadeInBlock {
    opacity:0;
}
.desktop .parallax { 
  	scroll-behavior: smooth;
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}
.main-box{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:100vh;
	position:relative;
	width:100%;
	float: left;
}
.main-box aside{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url(/assets/images/side_bg.png);
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
	padding:16vh 6vw;
}
.first-div{
	padding:30vh 30vw;	
	background-image:url(../images/backgrounds/demo.jpg);
	background-position-y: 0%;
}
.first-div img{
	width: 58%;
	margin-left: 21%;
	margin-bottom: -4%;
}
.second-div{
	padding:30vh 10vw;	
}
.third-div{
	background-image:url(../images/backgrounds/woman-hand-girl-professional.jpg);
}
#download-div{
	padding-top:25vh;
}
.profile-img {
    background-image:url(../images/icons/profile-img.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
    width: 120px;
    height: 120px;
	min-height:120px;
    border-radius: 50%;
    margin-left: calc(50% - 60px);
	position:relative;
}
.profile-img input {
    display: none;
}
.dz-message {
    display: none;
}
.dz-image-preview{
	position: absolute!important;
	top: 0;
	left: 0;
	margin:-1px 0 0 -1px!important;
}
.dropzone .dz-preview.dz-image-preview {
    background: white;
    border-radius: 50%;
}
.dropzone .dz-preview .dz-image img{	
    border-radius: 50%;
}
.fourth-div{
	padding:10vh 8vw;
}
.fourth-div .slider-holder .lightSlider{
	padding-bottom: 48%!important;
}
.fourth-div .slider-holder .lightSlider li:nth-child(2){
	margin-top: 5%;
}
.fourth-div .slider-holder .lightSlider li:nth-child(3){
	margin-top: 10%;
}
.fifth-div{
	background-image:url(../images/backgrounds/map.jpg);
	padding-top:10vh;
}
.slider-holder .lightSlider li{
	padding:3% 5%;
}
.slider-holder .lightSlider li img{
	box-shadow:  0px 0px 35px #b9b9b9;
}
.single-border, .fourth-div .slider-holder .lightSlider li{
	background-position:top left;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url(../images/backgrounds/single-border.png);
	float:left;
	padding:3% 5%;
}
.single-border img, .fourth-div .slider-holder .lightSlider li img{
	width:80%;
	margin-left:10%;
	box-shadow:  0px 0px 35px #b9b9b9;
}
.fifth-div .single-border{
	width:35%;
}
.fifth-div .title{
	padding-top:20vh;
}
.sixth-div{
	padding-top:10vh;
}
.sixth-div .title{
	padding-top:20vh;
}
.sixth-div .slider-holder{
	background-position:top left ;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url(../images/backgrounds/customise-slider-holder.png);
	float:left;
	padding:1vh 0vw;
}
.sixth-div .slider-holder .lightSlider{
	padding-bottom: 56%!important;
}
.sixth-div .slider-holder .lightSlider li:nth-child(2), .sixth-div .slider-holder .lightSlider li:nth-child(3){
	margin-left: -15%;
	margin-top:5%;
}
.sixth-div .slider-holder .lightSlider li:nth-child(3){
	margin-top: 10%;
}
.sixth-div .slider-holder .lightSlider li img{
	width:100%;
	box-shadow:  0px 0px 35px #b9b9b9;
}
 #clientele-div{
	padding-top:12vh;
}
#clientele-div .slider-holder{
	background-position:left center;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url(../images/backgrounds/pro-slider-holder.png);
	float:left;
	padding: 2vh 0;
}
#clientele-div .slider-holder .lightSlider li img{
	width: 100%;
	box-shadow:  0px 0px 35px #249296;
}
#download-div .title:after{
	content:"";	
	background-color:#fff;
	height:4px;
	width: 15%;
	float:left;
	margin-top: 3%;
}
#download-div form{
	margin-top: 3em;	
}
#download-div form label{
	font-size: 15px;
	font-family: Light;	
}
.send-btn{
	left: 8.33333333%;
	bottom: 3%;
	position: absolute;	
	background-image:url(../images/icons/send-btn.png);
	background-position:right center;
	background-repeat:no-repeat;
	background-size: contain;
    padding-right: 3%;
	font-size: 1.2em;
}
.scroll-to-top{
	position : fixed;
	bottom: 8%;
    right: 1%;
	z-index:99;
}
/* Reset page */
.reset-div{
	background-image:url(/assets/images/demo2.jpg);
	background-position: center center;
}
.reset-div aside{
	padding: 31vh 5vw;
}
/* General */
.img-holder {
	position: relative;
}
.img-holder img {
	position: absolute;
	top: 0;
	bottom: 0;
	width: auto;
}
.list-style-disc {
	list-style: disc;
	list-style-position: inside;
}
.black_border {
	height: 2px;
	width: 20%;
	max-width: 20px;
	background: #000;
	float: left;
	margin-left: calc(50% - 10px);
}
.no-border {
	border: none!important;
}
.border-bottom {
	border: none;
	border-bottom: 1px solid #C9C9C9;
}
.border-top {
	border: none;
	border-top: 1px solid #C9C9C9;
}
.border {
	border: 1px solid #C9C9C9;
	border-radius: 2px;
}
.no-padding {
	padding: 0!important;
}
.no-padding-left {
	padding-left: 0!important;
}
.no-padding-right {
	padding-right: 0!important;
}
.no-margin {
	margin: 0!important;
}
.margin-top-1 {
	margin-top: 1em;
}
.margin-bottom-1 {
	margin-bottom: 1em;
}
.height1 {
	height: 1em;
}
.height2 {
	height: 2em;
}
.height3 {
	height: 3em;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.full-height {
	top: 0;
	bottom: 0;
}
.full-height-padding {
	top: 20px;
	bottom: 20px;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.visible-xxs{
	display: none;	
}

.form-group {
    margin-bottom: 15px;
    overflow: auto;
}
