/* mobile breakpoint */
@media (max-width: 990px) {
}
/* Tablets */
@media only screen and (max-device-width : 768px){
}
@media only screen and (max-device-width : 1024px) {
	.navbar-brand .logo img, ul.navbar-nav {
		opacity: 1;
	}
	.navbar-toggle {
    	padding: 25px 25px;
		margin-top: 15px;
	}
	.navbar-brand {
		padding: 5px 15px;
		height:auto;
	}
	.navbar-right {
		padding: 18% 15px 10%;
	}
	.navbar-nav li a {
		padding: 6% 0px;
    	font-size: 1.6em;
		font-family: Bold;
	}
	.navbar-collapse{
		border: none;
		box-shadow:none;	
		max-height:91vh!important;
	}
	.navbar-brand img {
		max-height: 100px;
		margin-top: 3px;
	}
	header .social {
		padding-top:14%;
		padding-left: 0;
	}
	header .social li {
		font-size: 10px;
		margin-right: 15px;
	}
	header .social li:nth-last-child(1) {
		padding:10px 0;
	}
	footer ul li {
		font-size: 9px;
		padding: 6px 5px;
	}
	.social li a img {
		width: 42px;
	}
	header .social li a img {
		width: 56px;
	}
	.first-div {
    	padding: 30vh 23vw;
	}	
	.second-div {
		background-image:none;
	}
	.main-box aside{
	    padding: 12vh 6vw;
	}
	.form-control {
    	height: 44px;
	}
	.btn {
		height: 44px;
		line-height: 34px;
	}
	.fourth-div {
		padding: 12vh 0vw;
	}
	.fourth-div .slider-holder .lightSlider{
		padding-bottom: 0%!important;
	}
	.fourth-div .slider-holder .lightSlider li{
		background-image:none;
	}
	.fourth-div .slider-holder .lightSlider li:nth-child(2), .fourth-div .slider-holder .lightSlider li:nth-child(3){
		margin-top: 0px;
	}
	.main-box h2, .main-box h4{
		text-align:center;
	}
	.fifth-div .title, .sixth-div .title {
		padding-top: 0;
	}
	.fifth-div .single-border {
		width: 100%;
	    padding: 10% 5%;
	}
	.sixth-div .slider-holder{
		background-image:none;
	}
	.sixth-div .slider-holder .lightSlider{
		padding-bottom: 0%!important;
	}
	.sixth-div .slider-holder .lightSlider li:nth-child(2), .sixth-div .slider-holder .lightSlider li:nth-child(3){
		margin-left: 0%;
		margin-top:0px;
	}
	.sixth-div .slider-holder .lightSlider li:nth-child(3){
		margin-top: 0px;
	}
	.sixth-div .slider-holder .lightSlider li img, #clientele-div .slider-holder .lightSlider li img {
		width: 90%;
		margin-left: 5%;
	}
	.lSAction > a {
    	width: 62px;
	}
	#download-div {
		padding-top: 12vh;
	}
	#download-div .title:after {
		width: 20%;
		margin-left: 40%;
	}
	#download-div .pull-right.col-sm-6 {
		float:left!important;
	}
	.send-btn {
    	left: 15px;
		background-size: 30%;
    	padding-right: 5%;
		position:relative;
	}
	.transparent-control{
		font-size: 24px;	
	}
	.scroll-to-top {
    	right: 15px;
	}
}
@media only screen and (max-device-width : 480px){
	.navbar-toggle {
		padding: 15px 15px;
	}
	.navbar-brand img {
		max-height: 50px;
		margin-top: 14px;
	}
	.navbar-nav li a {
    	font-size: 1em;
	}
	header .social li a {
		padding-right: 10px;
	}
	header .social li a img {
		width: 42px;
	}
	footer> ul{
		width: 100%!important;	
	}
	footer> ul:nth-child(2) li{
		width: 100%!important;	
		line-height:normal;
	}
	footer ul li {
		font-size: 7px;
		padding: 6px 5px;
	}
	.scroll-to-top {
		bottom: 15px;
	}
	h1{
		font-size: 1em;
	}
	h4{
		 font-size: 0.7em;
	}
	.first-div {
    	padding: 33vh 5vw;
	}
	.second-div {
    	padding: 25vh 5vw;
	}
	.second-div h2{
    	font-size: 1em
	}
	.main-box aside{
		position: relative;	
		float:left;
	}
	.sixth-div {
		padding-top: 12vh;
	}
	.sixth-div .slider-holder .lightSlider li img, #clientele-div .slider-holder .lightSlider li img {
		width: 100%;
		margin-left: 0%;
	}
	#clientele-div {
		background-image: url(../images/backgrounds/pro-slider-holder.png);
	}
	#clientele-div .slider-holder{
		background-image:none;
	}	
	#download-div h4{
		font-size: 1em;	
	}
	#download-div fieldset{
		margin-bottom: 7%;	
	}
	.send-btn {
    	padding-right: 10%;
		font-size:1em;
	}
	.form-register{
		width: 100%;
		margin-left: 0;
	}
	.transparent-control {
		font-size: 21px;
	}
	/* Slider */
	.fourth-div .slider-holder .lightSlider li img{
		width:100%;
		margin-left:0;	
	}
	.slider-holder .lightSlider li {
		padding: 3% 4%;
	}
	/* reset password */
	.reset-div aside{
		position: relative;	
		padding: 0vh 5vw 45vh;
		background-image:none;
	}
	.reset-div .relative .absolute {
		padding-top:25%;	
		background-color: rgba(0, 0, 0, 0.38);	
	}
	/* General */
	.no-padding-xs{
		padding:0;
	}
	.hidden-xxs{
		display: none;	
	}
	.visible-xxs{
		display: block;	
	}
}